#boggle { 
    text-align: center; 
}

.board {
    margin-left: auto;
    margin-right: auto;
}

table td {
    border:1px solid white;
}

td {
    height: 10vh;
    width: 10vh;
    border-radius: 10px;
    background-color: #ffb347; 
}

#highscore {
    position: absolute;
    right: 0;
    top: 50px;
    /* left: 725px; */
    left: 850px;
    border-radius: 10px; 
    border:5px solid white;
    width: 190px
}

#current-score {
    position: absolute;
    right: 0;
    top: 50px;
    left: 100px;
    border-radius: 10px; 
    border:5px solid white;
    width: 190px
}

.words {
    position: absolute;
    right: 0;
    top: 150px;
    left: -650px;
}

#play-again {
    position: relative;
    top: 10px; 
}

.msg {
    position: relative; 
    top: -10px;
}

body {
    background-color: #007FFF;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.game-buttons {
    transition-duration: 0.4s;
    background-color: white; 
    border-radius: 10px;
}

.game-buttons:hover {
    background-color: #ffb347; 
    color: white;
}